<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hiringbell</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Istiyak@mi9</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>

        <property name="hibernate.proc.param_null_passing">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!--<property name="hbm2ddl.auto">create-drop</property>-->

        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping class="com.hiringbell.entity.Login" />
        <mapping class="com.hiringbell.entity.User" />
        <mapping class="com.hiringbell.entity.AccomplishmentsDetail" />
        <mapping class="com.hiringbell.entity.Company"/>
        <mapping class="com.hiringbell.entity.EducationalDetail" />
        <mapping class="com.hiringbell.entity.EmploymentDetail" />
        <mapping class="com.hiringbell.entity.PersonalDetail" />
        <mapping class="com.hiringbell.entity.ProfessionalDetail" />
        <mapping class="com.hiringbell.entity.ProjectDetail" />
       
        <mapping class="com.hiringbell.entity.EducationList" />
        <mapping class="com.hiringbell.entity.Board" />
        <mapping class="com.hiringbell.entity.ItSkills" />
        <mapping class="com.hiringbell.entity.ProfileSummary" />
        <mapping class="com.hiringbell.entity.KeySkill" />
        <mapping class="com.hiringbell.entity.OnlineProfile" />
        <mapping class="com.hiringbell.entity.WorkSample" />
        <mapping class="com.hiringbell.entity.ResearchPublication" />
        <mapping class="com.hiringbell.entity.Presentation" />
        
        
    </session-factory>
</hibernate-configuration>